<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="#"><img src="img/logo.png" alt=""></a>
        </div>
        <div class="humberger__menu__cart">
            <ul>
                <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
            </ul>
            <div class="header__cart__price">item: <span>$150.00</span></div>
        </div>
        <div class="humberger__menu__widget">
            <div class="header__top__right__language">
                <img src="img/language.png" alt="">
                <div>English</div>
                <span class="arrow_carrot-down"></span>
                <ul>
                    <li><a href="#">Spanis</a></li>
                    <li><a href="#">English</a></li>
                </ul>
            </div>
            <div class="header__top__right__auth">
                <a href="#"><i class="fa fa-user"></i> Login</a>
            </div>
        </div>
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <li class="active"><a href="./index.html">Home</a></li>
                <li><a href="./shop-grid.html">Shop</a></li>
                <li><a href="#">Pages</a>
                    <ul class="header__menu__dropdown">
                        <li><a href="./shop-details.html">Shop Details</a></li>
                        <li><a href="./shoping-cart.html">Shoping Cart</a></li>
                        <li><a href="./checkout.html">Check Out</a></li>
                        <li><a href="./blog-details.html">Blog Details</a></li>
                    </ul>
                </li>
                <li><a href="./blog.html">Blog</a></li>
                <li><a href="./contact.html">Contact</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="header__top__right__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-pinterest-p"></i></a>
        </div>
        <div class="humberger__menu__contact">
            <ul>
                <li><i class="fa fa-envelope"></i> hello@colorlib.com</li>
                <li>Free Shipping for all Order of $99</li>
            </ul>
        </div>
    </div>
    <!-- Humberger End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="header__top__right__auth">
                        <a href="login.html"><i class="fa fa-user"></i> Login</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="./index.html"><img src="img/leafora.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li><a class="hv" href="./index.html">Home</a></li>
                            <li class="active"><a class="hv" style="color: #56ab2f" href="./shop-grid.html">Shop</a></li>
                            <li><a class="hv" href="./contact.html">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                            <li><a href="shoping-cart.html"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
                        </ul>
                        <div class="header__cart__price">item: <span>$150.00</span></div>
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    <section class="hero hero-normal">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span> KATEGORI </span>
                        </div>
                        <ul>
                             <li><a href="Page_Buah.html">Buah</a></li>
                            <li><a href="Page_sayur.html">Sayur</a></li>
                            <li><a href="Page_Lauk.html">Lauk</a></li>
                            <li><a href="page_bumbu.html">Bumbu</a></li>
                            <li><a href="page_fresh_produk.html">Produk Fresh lain</a></li>
                            <li><a href="page_bahan_pokok.html">Bahan Pokok</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form action="#">
                                <div class="hero__search__categories">
                                    All Categories
                                    <span class="arrow_carrot-down"></span>
                                </div>
                                <input type="text" placeholder="What do yo u need?">
                                <button type="submit" class="site-btn">SEARCH</button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>+65 11.188.888</h5>
                                <span>support 24/7 time</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="img/Market.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>LeaFora Shop</h2>
                        <div class="breadcrumb__option">
                            <a href="./index.html">Home</a>
                            <span>Shop</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-5">
                    <div class="sidebar">
                        <div class="sidebar__item">
                            <h4>KATEGORI</h4>
                            <ul>
                                  <li><a href="Page_Buah.html">Buah</a></li>
                            <li><a href="Page_sayur.html">Sayur</a></li>
                            <li><a href="Page_Lauk.html">Lauk</a></li>
                            <li><a href="page_bumbu.html">Bumbu</a></li>
                            <li><a href="page_fresh_produk.html">Produk Fresh lain</a></li>
                            <li><a href="page_bahan_pokok.html">Bahan Pokok</a></li>
                            </ul>
                        </div>
                        <div class="sidebar__item">
                            <h4>Price</h4>
                            <div class="price-range-wrap">
                                <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                                    data-min="10" data-max="540">
                                    <div class="ui-slider-range ui-corner-all ui-widget-header"></div>
                                    <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                                    <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                                </div>
                                <div class="range-slider">
                                    <div class="price-input">
                                        <input type="text" id="minamount">
                                        <input type="text" id="maxamount">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar__item">
                            <div class="latest-product__text">
                                <h4>Latest Products</h4>
                                <div class="latest-product__slider owl-carousel">
                                    <div class="latest-prdouct__slider__item">
                                        <a href="#" onclick="goToDetail(7)" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="img/latest-product/lp-1.jpg" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Bayam </h6>
                                        <span>Rp 2.000,00</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="img/featured/ayam.jpg" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Ayam</h6>
                                        <span>Rp30.000,00</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="img/latest-product/garam.jpg" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Garam</h6>
                                        <span>Rp 2.500,00</span>
                                    </div>
                                </a>
                                </div>
                                <div class="latest-prdouct__slider__item">
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="img/product/jahe.jpg" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Jahe</h6>
                                        <span>Rp 10.000,00</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="img/latest-product/lele.png" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Ikan Lele</h6>
                                        <span>Rp 26.000,00</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="img/latest-product/masakorenteng.jpg" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Masako ayam 1 renteng</h6>
                                        <span>Rp 6.000,00</span>
                                    </div>
                                </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-7">
                    <div class="product__discount">
                        <div class="section-title product__discount__title">
                            <h2>Sale Off</h2>
                        </div>
                        <div class="row">
                            <div class="product__discount__slider owl-carousel">
                                <div class="col-lg-4">
                                    <div class="product__discount__item">
                                        <div class="product__discount__item__pic set-bg"
                                            data-setbg="img/product/beraspulen.png">
                                            <div class="product__discount__percent">-20%</div>
                                            <ul class="product__item__pic__hover">
                                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="product__discount__item__text">
                                            <span>Bahan Pokok</span>
                                            <h5><a href="#">Beras Desa SP</a></h5>
                                            <div class="product__item__price">Rp 51.200 <span>Rp 64.000</span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="product__discount__item">
                                        <div class="product__discount__item__pic set-bg"
                                            data-setbg="img/product/kopi.jpg">
                                            <div class="product__discount__percent">-10%</div>
                                            <ul class="product__item__pic__hover">
                                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="product__discount__item__text">
                                            <span>Vegetables</span>
                                            <h5><a href="#">Kopi Kapal Api 350 gr</a></h5>
                                            <div class="product__item__price">Rp51.300 <span>Rp57.000</span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="product__discount__item">
                                        <div class="product__discount__item__pic set-bg"
                                            data-setbg="img/product/discount/dagingslice.jpg">
                                            <div class="product__discount__percent">-15%</div>
                                            <ul class="product__item__pic__hover">
                                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="product__discount__item__text">
                                            <span>Lauk</span>
                                            <h5><a href="#">Daging Sapi Slice</a></h5>
                                            <div class="product__item__price">Rp59.500 <span>Rp70.000</span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="product__discount__item">
                                        <div class="product__discount__item__pic set-bg"
                                            data-setbg="img/product/discount/cabairawit.jpg">
                                            <div class="product__discount__percent">-25%</div>
                                            <ul class="product__item__pic__hover">
                                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="product__discount__item__text">
                                            <span>Sayur</span>
                                            <h5><a href="#">Cabai Rawit</a></h5>
                                            <div class="product__item__price">Rp34.000 <span>Rp45.000</span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="product__discount__item">
                                        <div class="product__discount__item__pic set-bg"
                                            data-setbg="img/product/discount/kol.jpg">
                                            <div class="product__discount__percent">-30%</div>
                                            <ul class="product__item__pic__hover">
                                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="product__discount__item__text">
                                            <span>Sayur</span>
                                            <h5><a href="#">Kubis</a></h5>
                                            <div class="product__item__price">Rp4.000 <span>Rp5.500</span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="product__discount__item">
                                        <div class="product__discount__item__pic set-bg"
                                            data-setbg="img/product/discount/minyak.jpg">
                                            <div class="product__discount__percent">-25%</div>
                                            <ul class="product__item__pic__hover">
                                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="product__discount__item__text">
                                            <span>Bahan Pokok</span>
                                            <h5><a href="#">Minyak Kita</a></h5>
                                            <div class="product__item__price">Rp13.000 <span>Rp17.000/span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="filter__item">
                        <div class="row">
                            <div class="col-lg-4 col-md-5">
                                <div class="filter__sort">
                                    <span>Sort By</span>
                                    <select>
                                        <option value="0">Default</option>
                                        <option value="0">Default</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="filter__found">
                                    <h6><span>16</span> Products found</h6>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-3">
                                <div class="filter__option">
                                    <span class="icon_grid-2x2"></span>
                                    <span class="icon_ul"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="img/product/bayam.jpg">
                                    <ul class="product__item__pic__hover">
                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="#">Bayam</a></h6>
                                    <h5>Rp 2.000/ ikat</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="img/product/Tongkol.jpg">
                                    <ul class="product__item__pic__hover">
                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="#">Ikan Tongkol</a></h6>
                                    <h5>Rp 30.000/ Kg</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="img/product/tempe.jpg">
                                    <ul class="product__item__pic__hover">
                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="#">Tempe</a></h6>
                                    <h5>Rp 5.000/ bungkus</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item" onclick="goToDetail(10)">
                                <div class="product__item__pic set-bg" data-setbg="img/product/cabai.png">
                                    <ul class="product__item__pic__hover">
                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                        <li><a href="" onclick="addToCart('Cabai merah besar', 45000, 'img/product/cabai.png')"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="#">Cabai merah besar</a></h6>
                                    <h5>Rp 45.000 / kg</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item" onclick="goToDetail(11)">
                                <div class="product__item__pic set-bg" data-setbg="img/product/okra1.png">
                                    <ul class="product__item__pic__hover">
                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                        <li><a href="" onclick="addToCart('Okra', 1700, 'img/product/okra1.png')"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="#">Okra</a></h6>
                                    <h5>Rp 17.000/ kg</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item" onclick="goToDetail(12)">
                                <div class="product__item__pic set-bg" data-setbg="img/product/dagingcincang.png">
                                    <ul class="product__item__pic__hover">
                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                        <li><a href="" onclick="addToCart('Daging cincang', 65000, 'img/product/dagingcincang.png')"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="#">Daging cincang</a></h6>
                                    <h5>Rp65.000/ kg</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item" onclick="goToDetail(13)">
                                <div class="product__item__pic set-bg" data-setbg="img/product/product-7.jpg">
                                    <ul class="product__item__pic__hover">
                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                        <li><a href="" onclick="addToCart('Semangka Merah', 12000, 'img/product/product-7.jpg')"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="#">Semangka Merah</a></h6>
                                    <h5>Rp 12.000/ kg</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item" onclick="goToDetail(14)">
                                <div class="product__item__pic set-bg" data-setbg="img/product/miepd.jpg">
                                    <ul class="product__item__pic__hover">
                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                        <li><a href="" onclick="addToCart('Mie bihun Padamu', 7500, 'img/product/miepd.jpg')"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="#">Mie bihun Padamu</a></h6>
                                    <h5>Rp 7.500/ pack</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item" onclick="goToDetail(15)">
                                <div class="product__item__pic set-bg" data-setbg="img/tepung_terigu.jpeg">
                                    <ul class="product__item__pic__hover">
                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                        <li><a href="" onclick="addToCart('Tepung Terigu 1 Kg', 12000, 'img/tepung_terigu.jpeg')"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="#">Tepung Terigu Cakra</a></h6>
                                    <h5>Rp 12.000/ kg</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item" onclick="goToDetail(16)">>
                                <div class="product__item__pic set-bg" data-setbg="img/product/cumi.jpg">
                                    <ul class="product__item__pic__hover">
                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                        <li><a href="" onclick="addToCart('Cumi-cumi', 20000, 'img/product/cumi.jpg')"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="#">Cumi-cumi</a></h6>
                                    <h5>Rp 20.000/ 250 gr</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item" onclick="goToDetail(17)">
                                <div class="product__item__pic set-bg" data-setbg="img/product/jagung.png">
                                    <ul class="product__item__pic__hover">
                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                        <li><a href="" onclick="addToCart('Jagung Manis', 8500, 'img/product/jagung.png')"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="#">Jagung manis</a></h6>
                                    <h5>Rp 8.500/ pack</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item" onclick="goToDetail(18)">
                                <div class="product__item__pic set-bg" data-setbg="img/product/jahe.jpg">
                                    <ul class="product__item__pic__hover">
                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                        <li><a href="" onclick="addToCart('Jahe', 14500, 'img/product/jahe.jpg')"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="#">Jahe</a></h6>
                                    <h5>Rp 14.500/ 500 gr</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product__pagination">
                        <a href="#">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#"><i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Section End -->

  <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="./index.html"><img src="img/leafora.png" alt=""></a>
                        </div>
                        <ul>
                            <li>Address: Jl. Ketintang, Kec. Gayungan, Kota Surabaya, Jawa Timur 60231</li>
                            <li>Phone: +65 11.188.888</li>
                            <li>Email: leafora@gmail.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>Useful Links</h6>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">About Our Shop</a></li>
                            <li><a href="#">Secure Shopping</a></li>
                            <li><a href="#">Delivery infomation</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Our Sitemap</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Who We Are</a></li>
                            <li><a href="#">Our Services</a></li>
                            <li><a href="#">Projects</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Innovation</a></li>
                            <li><a href="#">Testimonials</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>Join Our Newsletter Now</h6>
                        <p>Get E-mail updates about our latest shop and special offers.</p>
                        <form action="#">
                            <input type="text" placeholder="Enter your mail">
                            <button type="submit" class="site-btn">Subscribe</button>
                        </form>
                        <div class="footer__widget__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div>
                        <div class="footer__copyright__payment"><img src="img/payment-item.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script>
        function addToCart(name, price, image) {
            // Ambil keranjang dari localStorage (kalau belum ada, buat array kosong)
            let cart = JSON.parse(localStorage.getItem('cart')) || [];

            // Cek apakah produk sudah ada di keranjang
            const existing = cart.find(item => item.name === name);

            if (existing) {
                existing.quantity += 1; // kalau sudah ada, tambah jumlahnya
            } else {
                cart.push({ name, price, image, quantity: 1 }); // kalau belum ada, masukkan produk baru
            }

            // Simpan kembali ke localStorage
            localStorage.setItem('cart', JSON.stringify(cart));

            alert(`${name} telah ditambahkan ke keranjang!`);
        }
        // Data produk
        const products = [
            {
                id: 1,
                name: "Brokoli",
                price: "Rp 7.000 / ikat",
                image: "img/featured/brokoli.jpg",
                rating: 4.5,
                reviews: 14,
                desc: "Anggur hijau segar",
                availability: "In Stock",
                shipping: "01 day shipping. Free pickup today",
                weight: "100g"
            },
            {
                id: 2,
                name: "Wortel",
                price: "Rp 3.000 / biji",
                image: "img/featured/wortel.jpg",
                rating: 5,
                reviews: 10,
                desc: "Paket sayur segar langsung dari kebun...",
                availability: "In Stock",
                shipping: "01 day shipping. Free pickup today",
                weight: "1 kg"
            },
            {
                id: 3,
                name: "Bayam Hijau",
                price: "Rp 2.000 / ikat",
                image: "img/latest-product/bayam.jpg",
                rating: 5,
                reviews: 10,
                desc: "Paket sayur segar langsung dari kebun...",
                availability: "In Stock",
                shipping: "01 day shipping. Free pickup today",
                weight: "500g"
            },
            {
                id: 4,
                name: "Tomat",
                price: "Rp 8.000 / kg",
                image: "img/latest-product/Tomato.jpg",
                rating: 5,
                reviews: 10,
                desc: "Paket sayur segar langsung dari kebun...",
                availability: "In Stock",
                shipping: "01 day shipping. Free pickup today",
                weight: "400ml"
            },
            {
                id: 5,
                name: "Cabai Rawit",
                price: "Rp 23.000 / 250 gram",
                image: "img/latest-product/Cabe-Rawit.jpg",
                rating: 5,
                reviews: 10,
                desc: "Paket sayur segar langsung dari kebun...",
                availability: "In Stock",
                shipping: "01 day shipping. Free pickup today",
                weight: "50g"
            },
            {
                id: 6,
                name: "Kangkung segar",
                price: "Rp 3.000 / ikat",
                image: "img/latest-product/kangkung.jpg",
                rating: 5,
                reviews: 10,
                desc: "Paket sayur segar langsung dari kebun...",
                availability: "In Stock",
                shipping: "01 day shipping. Free pickup today",
                weight: "1 kg"
            },
            {
                id: 7,
                name: "Jagung Manis",
                price: "Rp 17.000 / kg",
                image: "img/product/okra1.png",
                rating: 5,
                reviews: 10,
                desc: "Paket sayur segar langsung dari kebun...",
                availability: "In Stock",
                shipping: "01 day shipping. Free pickup today",
                weight: "500g"
            },
            {
                id: 9,
                name: "Jagung Manis",
                price: "Rp 8.500 / pack",
                image: "img/product/jagung.png",
                rating: 5,
                reviews: 10,
                desc: "Paket sayur segar langsung dari kebun...",
                availability: "In Stock",
                shipping: "01 day shipping. Free pickup today",
                weight: "500g"
            },
            {
                id: 10,
                name: "Cabai Merah Besar",
                price: "Rp 45.000",
                image: "img/product/cabai.png",
                rating: 5,
                reviews: 19,
                desc: "Cabai merah besar segar pilihan yang dipetik langsung dari kebun petani lokal dalam kondisi matang sempurna. Warna merah cerah dan teksturnya yang padat membuat cabai ini ideal untuk berbagai masakan khas Indonesia. Rasa pedasnya sedang dengan aroma segar khas cabai alami, cocok untuk sambal, bumbu tumisan, hingga pelengkap masakan berkuah. Diproses dan dikemas secara higienis tanpa bahan pengawet untuk menjaga kualitas dan kesegarannya lebih lama. Dengan cabai merah besar ini, masakan kamu akan tampil lebih menggoda dan penuh cita rasa.",
                availability: "In Stock",
                shipping: "01 day shipping. Free pickup today",
                weight: "1 kg"
            },
            {
                id: 11,
                name: "Sayur Okra",
                price: "Rp 17.000",
                image: "img/product/okra1.png",
                rating: 4.7,
                reviews: 13,
                desc: "Okra segar dengan buah berukuran sedang, hijau mengkilap, dan tekstur lembut ketika dimasak. Memiliki rasa ringan dan kaya serat, okra cocok untuk olahan tumis, sup, atau masakan berkuah. Dipanen matang sesuai musim untuk menghasilkan kualitas terbaik dan dikemas rapi agar tetap higienis.",
                availability: "In Stock",
                shipping: "01 day shipping. Free pickup today",
                weight: "1 kg"
            },
            {
                id: 12,
                name: "Daging cincang",
                price: "Rp65.000",
                image: "img/product/dagingcincang.png",
                rating: 4.8,
                reviews: 34,
                desc: "Daging sapi cincang segar yang dibuat dari potongan daging pilihan tanpa lemak berlebih. Teksturnya lembut dan mudah diolah, cocok untuk berbagai menu seperti bakso, tumisan, spaghetti bolognese, atau isian pastel. Diproses secara higienis dengan mesin penggiling bersertifikat food-grade agar tetap terjaga kesegarannya. Setiap kemasan dikontrol kualitasnya untuk memastikan daging tetap merah segar dan tidak berbau. Pilihan tepat untuk kamu yang ingin masak praktis tapi tetap bergizi tinggi.",
                availability: "In Stock",
                shipping: "01 day shipping. Free pickup today",
                weight: "1000g"
            },
            {
                id: 13,
                name: "Semangka Merah",
                price: "Rp 12.000",
                image: "img/product/product-7.jpg",
                rating: 5,
                reviews: 16,
                desc: "Semangka merah segar berkualitas tinggi yang dipanen langsung dari kebun saat matang sempurna. Daging buahnya merah cerah, manis alami, dan berair menyegarkan — cocok untuk dikonsumsi langsung, dibuat jus, atau campuran salad buah. Dipilih dari buah terbaik tanpa bahan kimia tambahan dan diproses secara higienis agar kesegarannya tetap terjaga. Semangka ini kaya akan vitamin, mineral, serta antioksidan yang membantu menjaga hidrasi tubuh. Pilihan sempurna untuk camilan sehat di cuaca panas atau pelengkap hidangan keluarga.",
                availability: "In Stock",
                shipping: "01 day shipping. Free pickup today",
                weight: "1 kg"
            },
            {
                id: 14,
                name: "Mie bihun Padamu",
                price: "Rp 7.500",
                image: "img/product/miepd.jpg",
                rating: 5,
                reviews: 7,
                desc: "Bihun Jagung Padamu adalah pilihan tepat untuk hidangan lezat dan sehat. Terbuat dari tepung jagung alami pilihan tanpa bahan pengawet dan pewarna buatan. Teksturnya kenyal, tidak mudah hancur, dan mampu menyerap bumbu dengan sempurna, menjadikannya cocok untuk berbagai masakan seperti bihun goreng, soto, capcay, atau sup. Selain enak, bihun ini juga lebih ringan di perut dan menjadi alternatif bagi kamu yang ingin mengurangi konsumsi gluten. Diproses dengan teknologi modern dan higienis untuk menjaga kualitas serta cita rasa terbaik di setiap helainya.",
                availability: "In Stock",
                shipping: "01 day shipping. Free pickup today",
                weight: "350g"
            },
            {
                id: 15,
                name: "Tepung Terigu",
                price: "Rp 12.000",
                image: "img/tepung_terigu.jpeg",
                rating: 5,
                reviews: 10,
                desc: "Tepung terigu Cakra Kembar Premium merupakan tepung terigu berkualitas tinggi yang terbuat dari gandum pilihan. Tepung ini memiliki kadar protein sedang, menjadikannya cocok digunakan untuk berbagai jenis olahan makanan seperti kue, roti lembut, donat, martabak, hingga gorengan yang renyah. Dihasilkan melalui proses penggilingan modern yang higienis, produk ini menjaga mutu dan tekstur tepung agar halus serta bebas dari kotoran",
                availability: "In Stock",
                shipping: "01 day shipping. Free pickup today",
                weight: "1 kg"
            },
            {
                id: 16,
                name: "Cumi-cumi",
                price: "Rp 20.000",
                image: "img/product/cumi.jpg",
                rating: 4.9,
                reviews: 24,
                desc: "Cumi-cumi segar pilihan dengan tekstur kenyal lembut dan rasa gurih alami khas hasil laut. Diproses secara higienis sejak penangkapan hingga pengemasan untuk memastikan kesegaran dan kualitas terbaik tetap terjaga. Cumi ini cocok untuk berbagai masakan seperti cumi goreng tepung, tumis pedas, atau sambal cumi hitam. Kaya akan protein, vitamin, dan mineral penting yang baik untuk tubuh. Praktis untuk dimasak dan siap diolah kapan saja, menjadikan cumi-cumi segar ini pilihan sempurna untuk hidangan seafood di rumah.",
                availability: "In Stock",
                shipping: "01 day shipping. Free pickup today",
                weight: "250g"
            },
            {
                id: 17,
                name: "Jagung manis",
                price: "Rp 8.500/ pack",
                image: "img/product/jagung.png",
                rating: 4.8,
                reviews: 32,
                desc: "Jagung manis segar dengan biji berwarna kuning cerah, penuh gula alami, dan tekstur renyah. Dipanen pada tingkat kematangan ideal untuk mendapatkan rasa manis maksimal. Cocok dinikmati langsung direbus, dibakar, atau dijadikan bahan olahan seperti salad, sup, dan tumisan. Dikemas dengan standar kebersihan tinggi agar tetap segar.",
                availability: "In Stock",
                shipping: "01 day shipping. Free pickup today",
                weight: "500g"
            },
            {
                id: 18,
                name: "Jahe",
                price: "Rp 14.500",
                image: "img/product/jahe.jpg",
                rating: 4.7,
                reviews: 25,
                desc: "Jahe merah segar ini merupakan hasil panen petani lokal yang dipilih langsung untuk menjaga kualitas dan kesegarannya. Dengan aroma khas yang kuat dan rasa pedas yang menyegarkan, jahe merah dikenal memiliki banyak manfaat untuk kesehatan, terutama dalam meningkatkan daya tahan tubuh dan menjaga kehangatan badan. Setiap rimpang jahe dipanen dari tanaman yang tumbuh alami tanpa bahan kimia berlebihan, sehingga aman dikonsumsi setiap hari baik sebagai bahan masakan maupun minuman herbal.",
                availability: "In Stock",
                shipping: "01 day shipping. Free pickup today",
                weight: "250g"
            },
            


        ];

        // Fungsi ketika produk diklik
        function goToDetail(id) {
            const selected = products.find(p => p.id === id);
            localStorage.setItem("selectedProduct", JSON.stringify(selected));
            window.location.href = "shop-details.html";
        }
    </script>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>



</body>

</html>
